Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

Remove unused roketo-resource
  src/features/roketo-resource/index.ts
Due: eslint --fix, prettier --write

fix create stream tests
  cypress/integration/tests/02_create_a_stream.spec.js
  cypress/support/pages/CreateStream.js
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

Replace `~/shared/api/methods` and `~/shared/api/roketo` with `@roketo/sdk`
  src/entities/wallet/index.ts
  src/features/add-funds/model.ts
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamControls/model.ts
  src/features/stream-control/WithdrawAllButton/model.ts
  src/features/stream-control/WithdrawButton/index.tsx
  src/pages/stream/model.ts
  src/pages/streams/lib.ts
  src/pages/streams/model.ts
  src/shared/api/methods.ts
  src/shared/api/roketo/lib.ts
  src/shared/config.ts
  src/shared/hooks/useGetStreamDirection.ts
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

Use types from @roketo/sdk
  src/entities/wallet/index.ts
  src/features/add-funds/index.tsx
  src/features/create-stream/TokenSelector/index.tsx
  src/features/create-stream/lib.ts
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamStatus.tsx
  src/features/stream-control/WithdrawButton/index.tsx
  src/pages/stream/model.ts
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/constants.ts
  src/pages/streams/lib.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
  src/shared/api/near/index.ts
  src/shared/api/roketo/interfaces/contracts.ts
  src/shared/api/roketo/interfaces/entities.ts
  src/shared/api/types.ts
  src/shared/hooks/useGetStreamDirection.ts
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

Fix legacy import
  src/features/legacy/stream/index.tsx
Due: eslint --fix, prettier --write

TRIVIAL: refactor entities/wallet, splitting up large model
  src/app/index.tsx
  src/entities/wallet/index.ts
  src/entities/wallet/lib/retry.ts
  src/entities/wallet/models/account.ts
  src/entities/wallet/models/email-verification.ts
  src/entities/wallet/models/notifications.ts
  src/entities/wallet/models/session.ts
  src/entities/wallet/models/streams.ts
  src/features/authorization/ui.tsx
  src/features/stream-control/StreamControls/model.ts
  src/shared/api/near/index.ts
  src/shared/init.ts
  src/widgets/profile/ProfileForm/index.tsx
Due: eslint --fix, prettier --write

new changes to StreamIsDue text
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

edited and start now by default
  src/features/create-stream/CreateStream/index.tsx
Due: eslint --fix, prettier --write

edited button aligned
  src/features/create-stream/CreateStream/styles.module.scss
Due: prettier --write

ROKETO-188: notifications texts updated (#169)
  cypress/support/pages/Notification.js
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

ROKETO-265: Increase storage deposit x10 & add registration_only flag
  src/shared/api/methods.ts
Due: eslint --fix, prettier --write

ROKETO-265: Increase storage deposit x10 & add registration_only flag (#171)
  src/shared/api/methods.ts
Due: eslint --fix, prettier --write

amount to stream view bug fixed
  src/pages/streams/StreamProgress/styles.module.scss
Due: prettier --write

streams list view width
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Update @roketo/sdk
  package.json
  yarn.lock
Due: prettier --write --parser json

ROKETO-202: collect all chunks before update store
  src/entities/wallet/index.ts
  src/shared/lib/changeDetection.ts
Due: eslint --fix, prettier --write

Visual response to user copying stream link
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

amount to stream view bug fixed (#172)
  src/pages/streams/StreamProgress/styles.module.scss
Due: prettier --write

streams list view width (#173)
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Remove speed panel from header
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

Remove unused FinancialActivity
  src/widgets/header/ui/FinancialActivity/index.tsx
  src/widgets/header/ui/FinancialActivity/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-247: Integrate sdk (#170)
  package.json
  src/entities/wallet/index.ts
  src/features/add-funds/index.tsx
  src/features/add-funds/model.ts
  src/features/create-stream/TokenSelector/index.tsx
  src/features/create-stream/lib.ts
  src/features/legacy/stream/index.tsx
  src/features/roketo-resource/index.ts
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamControls/model.ts
  src/features/stream-control/StreamStatus.tsx
  src/features/stream-control/WithdrawAllButton/model.ts
  src/features/stream-control/WithdrawButton/index.tsx
  src/pages/stream/model.ts
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/constants.ts
  src/pages/streams/lib.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
  src/shared/api/methods.ts
  src/shared/api/near/index.ts
  src/shared/api/roketo/interfaces/contracts.ts
  src/shared/api/roketo/interfaces/entities.ts
  src/shared/api/roketo/lib.ts
  src/shared/api/types.ts
  src/shared/config.ts
  src/shared/hooks/useGetStreamDirection.ts
  src/widgets/notifications/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

CopyLinkButton component modified
  src/pages/stream/index.tsx
  src/pages/streams/StreamsList/index.tsx
  src/shared/ui/components/CopyLinkButton/index.tsx
  src/shared/ui/components/CopyLinkButton/styles.module.scss
Due: eslint --fix, prettier --write

comment placement fixed
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

unused styles removed
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

shifted columns fixed
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

stream page view fixed
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
Due: eslint --fix, prettier --write

search field on new line bug fixed
  src/pages/streams/StreamFilters/index.tsx
  src/pages/streams/StreamFilters/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-105: Visual response to user copying stream link (#174)
  src/pages/stream/index.tsx
  src/pages/streams/StreamsList/index.tsx
  src/shared/ui/components/CopyLinkButton/index.tsx
  src/shared/ui/components/CopyLinkButton/styles.module.scss
Due: eslint --fix, prettier --write

search field on new line bug fixed (#179)
  src/pages/streams/StreamFilters/index.tsx
  src/pages/streams/StreamFilters/styles.module.scss
Due: eslint --fix, prettier --write

stream page view fixed (#178)
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
Due: eslint --fix, prettier --write

shifted columns fixed (#177)
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-268: Remove speed panel from header (#175)
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/header/ui/FinancialActivity/index.tsx
  src/widgets/header/ui/FinancialActivity/styles.module.scss
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

ROKETO-259: Streams list view (#176)
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

almost all fixes
  cypress/integration/tests/02_create_a_stream.spec.js
  cypress/support/createstream.js
  cypress/support/pages/CreateStream.js
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/styles.module.scss
  src/features/create-stream/constants.ts
  src/pages/streams/model.ts
  src/shared/api/methods.ts
  src/shared/components/Modal/index.tsx
  src/shared/components/Modal/styles.module.scss
Due: eslint --fix, prettier --write

review fixes
  cypress/integration/tests/02_create_a_stream.spec.js
  cypress/integration/tests/06_add_funds.spec.js
  src/features/create-stream/CreateStream/index.tsx
  src/shared/components/FormikToggle/index.tsx
  src/shared/ui/components/Toggle/index.tsx
Due: eslint --fix, prettier --write

redesign login screen
  src/features/authorization/index.module.scss
  src/features/authorization/sender-wallet-icon.png
  src/features/authorization/ui.tsx
  src/pages/authorize/index.tsx
  src/pages/authorize/styles.module.scss
Due: eslint --fix, prettier --write

test fix
  cypress/support/createstream.js
Due: eslint --fix, prettier --write

Token letters color in stream list changed
  src/pages/streams/StreamProgress/styles.module.scss
Due: prettier --write

notifications style changed and scrollbar added
  src/widgets/notifications/index.tsx
  src/widgets/notifications/styles.module.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
