Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

customFetch fixed
  src/shared/api/eco/index.ts
Due: eslint --fix, prettier --write

archive ui
  package.json
  src/entities/wallet/index.ts
  src/features/legacy/stream/index.tsx
  src/features/legacy/stream/styles.module.scss
  src/pages/archived_streams/ArchivedStreamFilters/index.tsx
  src/pages/archived_streams/ArchivedStreamFilters/styles.module.scss
  src/pages/archived_streams/ArchivedStreamsList/index.tsx
  src/pages/archived_streams/ArchivedStreamsList/styles.module.scss
  src/pages/archived_streams/constants.ts
  src/pages/archived_streams/index.tsx
  src/pages/archived_streams/model.ts
  src/pages/archived_streams/styles.module.scss
  src/pages/archived_streams/types.ts
  src/pages/index.tsx
  src/pages/stream/BreadcrumbIcon.tsx
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/lib.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
  src/shared/kit/Breadcrumb/BreadcrumbIcon.tsx
  src/shared/kit/Breadcrumb/index.tsx
  src/shared/kit/Breadcrumb/styles.module.scss
  src/shared/lib/getFilters.ts
  src/shared/lib/routing.ts
  src/widgets/header/Header.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-301: Delete roketo/api-client (#191)
  get-dotenv.js
  package.json
  src/entities/wallet/index.ts
  src/shared/api/eco/generated/eco-api.ts
  src/shared/api/eco/index.ts
  src/shared/api/roketo-client.ts
  src/shared/api/token-formatter.ts
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

stader banner added
  src/pages/index.tsx
  src/shared/components/StaderBanner/RoketoLogoIcon.tsx
  src/shared/components/StaderBanner/StaderLogoIcon.tsx
  src/shared/components/StaderBanner/index.tsx
  src/shared/components/StaderBanner/styles.module.scss
Due: eslint --fix, prettier --write

parameter deleted from click handler
  src/shared/components/StaderBanner/index.tsx
Due: eslint --fix, prettier --write

fixed balance value display
  src/shared/api/token-formatter.ts
Due: eslint --fix, prettier --write

logo placement on the authorized page fixed
  src/shared/components/Header/index.tsx
Due: eslint --fix, prettier --write

ROKETO-305: Add STADER's banner with the link to dApp header (#193)
  src/pages/index.tsx
  src/shared/components/Header/index.tsx
  src/shared/components/StaderBanner/RoketoLogoIcon.tsx
  src/shared/components/StaderBanner/StaderLogoIcon.tsx
  src/shared/components/StaderBanner/index.tsx
  src/shared/components/StaderBanner/styles.module.scss
Due: eslint --fix, prettier --write

fixed balance value display (#194)
  src/shared/api/token-formatter.ts
Due: eslint --fix, prettier --write

create stream error view fixed
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/styles.module.scss
Due: eslint --fix, prettier --write

garbage tests
  .github/workflows/playwright.yml
  .gitignore
  cypress/support/pages/MyStreams.js
  package.json
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/fixtures/auth.ts
  tests/fixtures/near-authenticated-storage.json
  tests/login.spec.ts
  tests/notifications.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/home.page.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/notification.page.ts
  tests/pages/transaction.page.ts
  tests/shared/createTestAccount.ts
  tests/withdraw.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

fix login test
  package.json
  tests/login.spec.ts
  tests/pages/login.page.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

close to win
  .eslintignore
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/login.spec.ts
  tests/notifications.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/notification.page.ts
  tests/shared/createTestAccount.ts
  tests/shared/createstream.ts
  tests/shared/login.ts
  tests/withdraw.spec.ts
Due: eslint --fix, prettier --write

it's done but...
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/fixtures/auth-as-receiver.ts
  tests/fixtures/near-authenticated-storage-receiver.json
  tests/login.spec.ts
  tests/notifications.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/notification.page.ts
  tests/pages/transaction.page.ts
  tests/shared/createstream.ts
  tests/shared/login.ts
  tests/withdraw.spec.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Make tests fully sequential
  playwright.config.ts
Due: eslint --fix, prettier --write

all in one
  package.json
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/fixtures/auth-as-receiver.ts
  tests/fixtures/auth.ts
  tests/fixtures/near-authenticated-storage-receiver.json
  tests/fixtures/near-authenticated-storage.json
  tests/fixtures/rec.json
  tests/login.spec.ts
  tests/notifications.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/transaction.page.ts
  tests/withdraw.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

Add test ids to stream list loader and comment cells
  src/pages/streams/StreamsList/index.tsx
  src/shared/constants.ts
Due: eslint --fix, prettier --write

Add await to async operations
  tests/pages/mystreams.page.ts
Due: eslint --fix, prettier --write

Add checkStreamLocked
  tests/shared/checkStreamStatus.ts
Due: eslint --fix, prettier --write

Improve most of changestatus tests
  tests/changestatus.spec.ts
Due: eslint --fix, prettier --write

Add testid for receiver cell
  src/pages/streams/StreamsList/index.tsx
  src/shared/constants.ts
Due: eslint --fix, prettier --write

fix some stuff
  tests/changestatus.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/shared/login.ts
Due: eslint --fix, prettier --write

Add utils to work with streams
  tests/shared/changeStreamStatus.ts
  tests/shared/checkStreamStatus.ts
  tests/shared/createstream.ts
  tests/shared/findRowByComment.ts
Due: eslint --fix, prettier --write

Fix flakiness in changeStreamStatus
  tests/shared/changeStreamStatus.ts
Due: eslint --fix, prettier --write

Async operations hotfix
  tests/pages/mystreams.page.ts
Due: eslint --fix, prettier --write

Improve start/pause/stop stream tests
  tests/shared/changeStreamStatus.ts
  tests/shared/findRowByComment.ts
Due: eslint --fix, prettier --write

Improve add funds test
  tests/shared/addFunds.ts
Due: eslint --fix, prettier --write

a few fixes
  tests/pages/login.page.ts
  tests/pages/transaction.page.ts
Due: eslint --fix, prettier --write

looks done
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/createstream.spec.ts
  tests/fixtures/near-authenticated-storage.json
  tests/login.spec.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/shared/login.ts
  tests/withdraw.spec.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

remove gitmodules
  .gitmodules
Due: none

Explicitly add empty .gitmodules file
  .gitmodules
Due: none

rename action
  .github/workflows/playwright.yml
Due: none

.
  .github/workflows/playwright.yml
Due: none

resolve gitmodules
  .github/workflows/playwright.yml
Due: none

Update playwright.yml
  .github/workflows/playwright.yml
Due: none

increase timeouts
  tests/shared/login.ts
Due: eslint --fix, prettier --write

.
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
Due: none
