Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

Remove periods from cypress tests
  cypress/support/pages/Notification.js
Due: eslint --fix, prettier --write

Use redesigned icons
  src/widgets/notifications/BangIcon.tsx
  src/widgets/notifications/FinishIcon.tsx
  src/widgets/notifications/PauseIcon.tsx
  src/widgets/notifications/StartIcon.tsx
  src/widgets/notifications/icons/streamCliffPassed.svg
  src/widgets/notifications/icons/streamEnded.svg
  src/widgets/notifications/icons/streamFundsAdded.svg
  src/widgets/notifications/icons/streamIsDue.svg
  src/widgets/notifications/icons/streamPaused.svg
  src/widgets/notifications/icons/streamStarted.svg
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

Add suggested improvements
  cypress/support/pages/Notification.js
  src/app/styles/index.scss
  src/entities/blur.ts
  src/widgets/notifications/model.ts
  src/widgets/notifications/styles.module.scss
Due: eslint --fix, prettier --write

Remove divider div
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
  src/widgets/notifications/styles.module.scss
Due: eslint --fix, prettier --write

Fix body scrolling
  src/app/styles/index.scss
  src/entities/blur.ts
  src/widgets/notifications/styles.module.scss
Due: eslint --fix, prettier --write

Fix text punctuation
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

Update 02_create_a_stream.spec.js
  cypress/integration/tests/02_create_a_stream.spec.js
Due: eslint --fix, prettier --write

draft cliff period stream test
  cypress/support/pages/CreateStream.js
Due: eslint --fix, prettier --write

Create uneditable stream
  cypress/integration/tests/02_create_a_stream.spec.js
Due: eslint --fix, prettier --write

Create uneditable stream
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

Create uneditable stream
  cypress/support/pages/CreateStream.js
Due: eslint --fix, prettier --write

Update Notification List
  cypress/support/pages/Notification.js
Due: eslint --fix, prettier --write

add funds test
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

add funds test
  cypress/integration/tests/06_add_funds.spec.js
Due: eslint --fix, prettier --write

TRIVIAL: Fix code formatting
  src/features/create-stream/lib.ts
  src/features/legacy/streams/streamsList/ui/StreamProgress/index.tsx
  src/widgets/financialStatus/lib.ts
Due: eslint --fix, prettier --write

lint fix
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
Due: none

remove parralel workflow run
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

remove prettier
  .github/workflows/lint.yml
Due: none

yarn lint fix
  .github/workflows/lint.yml
Due: none

fix runs-on
  .github/workflows/lint.yml
Due: none

we not a default branch
  .github/workflows/tests.yml
Due: none

ROKETO-158: Refactor stream speed calc to duration
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/model.ts
  src/features/create-stream/StreamDurationCalcField/index.tsx
  src/features/create-stream/StreamDurationCalcField/styles.module.scss
  src/features/create-stream/constants.ts
  src/features/create-stream/lib.ts
  src/pages/streams/model.ts
Due: eslint --fix, prettier --write

ROKETO-158: Add overCliff validation
  src/features/create-stream/CreateStream/model.ts
Due: eslint --fix, prettier --write

Fix notifications panel scrolling on desktop
  src/widgets/notifications/styles.module.scss
Due: prettier --write

Fix notifications panel alignment on mobile
  src/app/styles/index.scss
Due: prettier --write

ROKETO-158: Add validation to ensure that the cliff period doesn't exceed the streaming finish time (#139)
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/model.ts
  src/features/create-stream/StreamDurationCalcField/index.tsx
  src/features/create-stream/StreamDurationCalcField/styles.module.scss
  src/features/create-stream/constants.ts
  src/features/create-stream/lib.ts
  src/pages/streams/model.ts
Due: eslint --fix, prettier --write

ROKETO-10: Extract DateTimePicker to shared component
  src/features/create-stream/CreateStream/index.tsx
  src/shared/components/FormikDateTimePicker/index.tsx
  src/shared/components/FormikDateTimePicker/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-10: Create new common Modal component
  src/shared/components/Modal/index.tsx
  src/shared/components/Modal/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-10: Refactor stream creation button a bit
  src/pages/streams/index.tsx
Due: eslint --fix, prettier --write

ROKETO-10: Refactor mobile logic to useMobile hook
  src/shared/hooks/useMobile.ts
Due: eslint --fix, prettier --write

ROKETO-10: Rename common Modal -> LegacyModal
  src/pages/streams/index.tsx
  src/shared/components/LegacyModal/index.tsx
  src/shared/components/LegacyModal/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-10: Rename ColorPicker -> LegacyColorPicker
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/LegacyColorPicker/index.tsx
  src/features/create-stream/LegacyColorPicker/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-10: Refactor stream creation logic
  src/pages/streams/model.ts
  src/shared/api/ft/ft-api.ts
  src/shared/api/ft/index.ts
  src/shared/api/roketo/contract-api.ts
  src/shared/api/roketo/interfaces/entities.ts
  src/shared/api/roketo/interfaces/roketo-api.ts
Due: eslint --fix, prettier --write

ROKETO-10: Rename isAddressNotExistsFx -> isAddressExistsFx
  src/features/create-stream/CreateStream/model.ts
Due: eslint --fix, prettier --write

ROKETO-10: Implement little mass streaming
  src/features/create-stream/ColorPicker/index.tsx
  src/features/create-stream/ColorPicker/styles.module.scss
  src/features/create-stream/CreateMassStreaming/index.tsx
  src/features/create-stream/CreateMassStreaming/model.ts
  src/features/create-stream/CreateMassStreaming/styles.module.scss
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/model.ts
  src/features/create-stream/TokenSelector/index.tsx
  src/features/create-stream/constants.ts
  src/features/create-stream/lib.ts
  src/pages/streams/index.tsx
  src/pages/streams/model.ts
  src/pages/streams/styles.module.scss
  src/shared/kit/ColorDot/index.tsx
  src/shared/kit/ColorDot/styles.module.scss
Due: eslint --fix, prettier --write

TRIVIAL: Change account creation for storage fee from 0.00125 -> 0.0025
  src/shared/api/ft/ft-api.ts
  src/shared/api/methods.ts
Due: eslint --fix, prettier --write

TRIVIAL: Change account creation for storage fee from 0.00125 -> 0.0025 (#141)
  src/shared/api/ft/ft-api.ts
  src/shared/api/methods.ts
Due: eslint --fix, prettier --write

Fix sender sign out behavior
  src/shared/api/near/index.ts
Due: eslint --fix, prettier --write

Fix sign in button behavior
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-90: Wallet selector integration (#134)
  src/entities/wallet/index.ts
  src/features/add-funds/index.tsx
  src/features/add-funds/model.ts
  src/features/authorization/index.module.scss
  src/features/authorization/near-wallet-icon.png
  src/features/authorization/ui.tsx
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/model.ts
  src/features/create-stream/TokenSelector/index.tsx
  src/features/create-stream/lib.ts
  src/features/legacy/stream/index.tsx
  src/features/stream-control/StreamControls/model.ts
  src/features/stream-control/WithdrawAllButton/model.ts
  src/features/stream-control/WithdrawButton/index.tsx
  src/pages/stream/index.tsx
  src/pages/stream/model.ts
  src/pages/streams/index.tsx
  src/pages/streams/model.ts
  src/shared/api/ft/ft-api.ts
  src/shared/api/ft/index.ts
  src/shared/api/ft/types.ts
  src/shared/api/methods.ts
  src/shared/api/near/index.ts
  src/shared/api/roketo-client.ts
  src/shared/api/roketo/contract-api.ts
  src/shared/api/roketo/index.ts
  src/shared/api/roketo/interfaces/roketo-api.ts
  src/shared/api/token-formatter.ts
  src/shared/api/types.ts
  src/shared/components/Balance/index.tsx
  src/shared/lib/protectedEffect.ts
  src/widgets/financialStatus/lib.ts
  src/widgets/header/model.ts
  src/widgets/notifications/index.tsx
  src/widgets/streamsList/ui/StreamProgress/index.tsx
Due: eslint --fix, prettier --write
