Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

Add shared functions to check ability to start and pause stream
  src/shared/api/roketo/lib.ts
Due: eslint --fix, prettier --write

Calculate visibility of control buttons in models
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamControls/styles.module.scss
  src/pages/stream/index.tsx
  src/pages/stream/model.ts
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
  src/shared/kit/DropdownMenu/DropdownMenu.tsx
Due: eslint --fix, prettier --write

Fix issues with tablet screens
  src/pages/streams/StreamFilters/index.tsx
  src/pages/streams/StreamFilters/styles.module.scss
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/model.ts
  src/pages/streams/styles.module.scss
Due: eslint --fix, prettier --write

Add support for phone screens
  src/pages/streams/StreamProgress/index.tsx
  src/pages/streams/StreamProgress/styles.module.scss
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/model.ts
  src/pages/streams/styles.module.scss
  src/pages/streams/types.ts
Due: eslint --fix, prettier --write

Limit max width on small screens
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/styles.module.scss
Due: prettier --write

Fit streams grid width to small screen size
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Use clock icon as svg file
  src/features/legacy/streams/streamsList/ui/StreamProgress/index.tsx
  src/pages/streams/StreamProgress/index.tsx
  src/shared/ui/icons/Clock.tsx
  src/shared/ui/icons/clock.svg
Due: eslint --fix, prettier --write

Implement design for expanded stream panel
  src/pages/streams/StreamProgress/index.tsx
  src/pages/streams/StreamProgress/styles.module.scss
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/model.ts
Due: eslint --fix, prettier --write

Show as much info in progress bar as possible
  src/pages/streams/StreamProgress/index.tsx
  src/pages/streams/StreamProgress/styles.module.scss
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/model.ts
  src/pages/streams/styles.module.scss
  src/pages/streams/types.ts
Due: eslint --fix, prettier --write

Fix large comments breaking page layout
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
Due: eslint --fix, prettier --write

Add info about cliff period
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
Due: eslint --fix, prettier --write

Split large comments in small screens
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Add modal for stream actions for small screens
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamControls/styles.module.scss
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

Redesign filter and sort controls for small screens
  src/pages/streams/StreamFilters/index.tsx
  src/pages/streams/StreamFilters/styles.module.scss
  src/pages/streams/StreamProgress/styles.module.scss
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/styles.module.scss
Due: eslint --fix, prettier --write

Redesign cliff marks in progress bars
  src/shared/ui/components/ProgressBar/index.tsx
  src/shared/ui/components/ProgressBar/styles.module.scss
Due: eslint --fix, prettier --write

Limit max size of expanded stream panel in streams list
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Fix tooltip visibility
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Infer stream status by alt text in stream creation tests
  cypress/support/pages/MyStreams.js
  src/pages/streams/StreamsList/index.tsx
  src/shared/constants.ts
Due: eslint --fix, prettier --write

Return back `.eq(0)` calls
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

Click dropdown before search for withdraw button
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

Add node_modules caching to CI
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

ROKETO-198: Redesign profile menu with financial activity
  src/shared/components/Balance/index.tsx
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
  src/widgets/profile/UserAvatar/index.tsx
  src/widgets/profile/index.module.scss
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

ROKETO-198: Make header is responsible
  src/shared/components/NavigationLink/index.tsx
  src/shared/kit/DropdownOpener/DropdownOpener.tsx
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/header/ui/PagesList/index.tsx
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

ROKETO-198: Add navigation for second floor
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/header/ui/PagesList/index.tsx
Due: eslint --fix, prettier --write

ROKETO-198: Add logout button into user profile
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
Due: eslint --fix, prettier --write

ROKETO-230: Fix NaN speed in legacy streams
  src/features/legacy/stream/index.tsx
Due: eslint --fix, prettier --write

Update cypress/support/pages/MyStreams.js
  cypress/support/pages/MyStreams.js
Due: eslint --fix, prettier --write

Explicitly add ids for yarn cache steps
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

Don't mention nodejs version in cache keys
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

Add package.json to cache hash key
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

ROKETO-248: Add node_modules caching to CI (#158)
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

ROKETO-198: Do not use media query hook just for hiding element
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
Due: eslint --fix, prettier --write

ROKETO-236: update-autotests (#155)
  cypress/integration/tests/02_create_a_stream.spec.js
  cypress/integration/tests/05_notifications.spec.js
  cypress/integration/tests/06_add_funds.spec.js
  cypress/support/pages/CreateStream.js
  cypress/support/pages/MyStreams.js
  cypress/support/pages/Notification.js
  src/features/add-funds/index.tsx
  src/shared/constants.ts
  testAccount.json
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-198: Do not hide arrows on dropdown on the whole page
  src/shared/kit/DropdownOpener/DropdownOpener.tsx
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/notifications/index.tsx
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

ROKETO-198: Redesign profile menu with financial activity (#159)
  src/shared/components/Balance/index.tsx
  src/shared/components/NavigationLink/index.tsx
  src/shared/kit/DropdownOpener/DropdownOpener.tsx
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/header/ui/PagesList/index.tsx
  src/widgets/notifications/index.tsx
  src/widgets/profile/ProfileForm/index.module.scss
  src/widgets/profile/ProfileForm/index.tsx
  src/widgets/profile/UserAvatar/index.tsx
  src/widgets/profile/index.module.scss
  src/widgets/profile/index.tsx
Due: eslint --fix, prettier --write

ROKETO-246: update links in readme
  README.md
Due: prettier --write

ROKETO-246: update readme links
  README.md
Due: prettier --write

Remove troublesome onClick handler on stream card
  src/pages/streams/StreamsList/index.tsx
Due: eslint --fix, prettier --write

Don't trigger useOutsideClick callback by interaction with modal content
  src/shared/hooks/useOutsideClick.ts
Due: eslint --fix, prettier --write

ROKETO-196: Streams page redesign (#157)
  cypress/support/pages/MyStreams.js
  src/entities/screen.ts
  src/features/add-funds/index.tsx
  src/features/legacy/streams/streamsList/ui/StreamProgress/index.tsx
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/StreamControls/styles.module.scss
  src/features/stream-control/WithdrawAllButton/index.tsx
  src/pages/stream/index.tsx
  src/pages/stream/model.ts
  src/pages/stream/styles.module.scss
  src/pages/streams/StreamCard/index.tsx
  src/pages/streams/StreamCard/styles.module.scss
  src/pages/streams/StreamFilters/index.tsx
  src/pages/streams/StreamFilters/styles.module.scss
  src/pages/streams/StreamProgress/index.tsx
  src/pages/streams/StreamProgress/styles.module.scss
  src/pages/streams/StreamsList/activeStream.svg
  src/pages/streams/StreamsList/finishedStream.svg
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/menuDots.svg
  src/pages/streams/StreamsList/pausedStream.svg
  src/pages/streams/StreamsList/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/index.tsx
  src/pages/streams/model.ts
  src/pages/streams/styles.module.scss
  src/pages/streams/types.ts
  src/shared/api/roketo/lib.ts
  src/shared/constants.ts
  src/shared/hooks/useOutsideClick.ts
  src/shared/kit/DropdownMenu/DropdownMenu.tsx
  src/shared/kit/Filter/Filter.tsx
  src/shared/ui/components/ProgressBar/index.tsx
  src/shared/ui/components/ProgressBar/styles.module.scss
  src/shared/ui/icons/Clock.tsx
  src/shared/ui/icons/clock.svg
Due: eslint --fix, prettier --write
