Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

add tsconfig
  .gitignore
  package.json
  playwright.config.ts
  playwright/pages/loginPage.ts
  playwright/pages/streamingPage.ts
  playwright/shared/authstate.json
  playwright/shared/createTestAccount.ts
  playwright/shared/nearAuthecated.ts
  playwright/shared/nearWallet.ts
  playwright/tests/01_login.spec.ts
  playwright/tests/exampleUserAuthenticated.spec.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

fix auth test
  playwright/tests/exampleUserAuthenticated.spec.ts
  src/env.d.ts
Due: eslint --fix, prettier --write

Add @roketo/sdk dependency
  package.json
  yarn.lock
Due: prettier --write --parser json

Use `countStorageDeposit` from `@roketo/sdk`
  src/features/create-stream/CreateStream/index.tsx
Due: eslint --fix, prettier --write

Token letters color in stream list changed (#181)
  src/pages/streams/StreamProgress/styles.module.scss
Due: prettier --write

notifications style changed and scrollbar added (#182)
  src/widgets/notifications/index.tsx
  src/widgets/notifications/styles.module.scss
Due: eslint --fix, prettier --write

login with myNear wallet
  package.json
  src/entities/wallet/index.ts
  src/features/authorization/index.module.scss
  src/features/authorization/my-near-wallet-icon.png
  src/features/authorization/ui.tsx
  src/shared/api/near/index.ts
  src/shared/api/near/my-near-wallet-icon.png
  src/shared/api/near/near-wallet-icon.png
  src/shared/api/near/options.ts
  src/shared/api/near/sender-wallet-icon.png
  src/shared/ui/icons/Wallet/my-near-wallet-icon.png
  src/shared/ui/icons/Wallet/near-wallet-icon.png
  src/shared/ui/icons/Wallet/sender-wallet-icon.png
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

test fixed
  src/features/authorization/ui.tsx
Due: eslint --fix, prettier --write

small fix
  src/entities/wallet/index.ts
  src/features/authorization/ui.tsx
  src/shared/api/near/index.ts
Due: eslint --fix, prettier --write

removed am/pm from dateTimePicker component and test
  cypress/support/pages/CreateStream.js
  src/features/create-stream/CliffPeriodPicker/index.tsx
Due: eslint --fix, prettier --write

stream page explorer link
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/shared/ui/icons/ArrowLink/index.tsx
Due: eslint --fix, prettier --write

unused icons deleted
  src/features/authorization/my-near-wallet-icon.png
  src/features/authorization/near-wallet-icon.png
  src/features/authorization/sender-wallet-icon.png
  src/shared/ui/icons/Wallet/index.tsx
  src/shared/ui/icons/Wallet/my-near-wallet-icon.png
  src/shared/ui/icons/Wallet/near-wallet-icon.png
  src/shared/ui/icons/Wallet/sender-wallet-icon.png
Due: eslint --fix, prettier --write

align logo and wallets
  src/features/authorization/index.module.scss
  src/shared/components/Header/styles.module.scss
Due: prettier --write

ROKETO-254: Add MyNearWallet to login screen + redesign (#180)
  cypress/support/pages/CreateStream.js
  package.json
  src/entities/wallet/index.ts
  src/features/authorization/index.module.scss
  src/features/authorization/ui.tsx
  src/features/create-stream/CliffPeriodPicker/index.tsx
  src/pages/authorize/index.tsx
  src/pages/authorize/styles.module.scss
  src/shared/api/near/index.ts
  src/shared/api/near/my-near-wallet-icon.png
  src/shared/api/near/near-wallet-icon.png
  src/shared/api/near/options.ts
  src/shared/api/near/sender-wallet-icon.png
  src/shared/components/Header/styles.module.scss
  src/shared/ui/icons/Wallet/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

add network to explorer link
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write

edited button fixed
  src/shared/components/Modal/styles.module.scss
Due: prettier --write

Fix parse duration months
  package.json
  src/features/create-stream/StreamDurationCalcField/index.tsx
  src/features/create-stream/lib.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

comments view fixed
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Fix autoprefixer
  package.json
  yarn.lock
Due: prettier --write --parser json

comments view fixed (#185)
  src/pages/streams/StreamsList/styles.module.scss
Due: prettier --write

Fix autoprefixer (#186)
  package.json
  yarn.lock
Due: prettier --write --parser json

ROKETO-287: Fix NearWallet/MyNearWallet backend auth
  src/features/legacy/roketo-context.tsx
  src/shared/api/near/index.ts
  src/shared/api/roketo-client.ts
  src/shared/constants.ts
Due: eslint --fix, prettier --write

ROKETO-287: Fix logout
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-287: Wait for sender backend login
  cypress/integration/tests/05_notifications.spec.js
  cypress/support/login.js
  cypress/support/pages/Notification.js
  src/shared/constants.ts
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

ROKETO-287: Remove implicit @near-wallet-selector/wallet-utils dependency
  package.json
  yarn.lock
Due: prettier --write --parser json

ROKETO-287: Remove redundant WalletId type
  src/entities/wallet/index.ts
  src/shared/api/near/index.ts
Due: eslint --fix, prettier --write

ROKETO-287: Add MyNearWallet support
  src/entities/wallet/index.ts
  src/entities/wallet/selector.ts
  src/shared/api/near/index.ts
  src/shared/api/roketo-client.ts
Due: eslint --fix, prettier --write

ROKETO-80: Update API client
  package.json
  src/entities/wallet/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-88: Implement custom tokens
  src/entities/wallet/index.ts
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/TokenSelector/index.tsx
  src/shared/api/roketo-client.ts
Due: eslint --fix, prettier --write

TRIVIAL: Fix useOutsideClick
  src/shared/hooks/useOutsideClick.ts
Due: eslint --fix, prettier --write

TRIVIAL: Fix useOutsideClick (#190)
  src/shared/hooks/useOutsideClick.ts
Due: eslint --fix, prettier --write

ROKETO-287: Fix MyNearWallet support (#188)
  package.json
  src/entities/wallet/index.ts
  src/entities/wallet/selector.ts
  src/shared/api/near/index.ts
  src/shared/api/roketo-client.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

yarn.lock updated
  yarn.lock
Due: none

roketo/api client removed
  nest-cli.json
  package.json
  src/entities/wallet/index.ts
  src/shared/api/eco/generated/eco-api.ts
  src/shared/api/eco/index.ts
  src/shared/api/roketo-client.ts
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

yarn.lock changed
  yarn.lock
Due: none

ROKETO-301: Use --unwrap-response-data option for generating client
  get-dotenv.js
  package.json
  src/shared/api/eco/generated/eco-api.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fixes in getting data after changes in client generation
  src/entities/wallet/index.ts
  src/shared/api/eco/generated/eco-api.ts
  src/shared/api/roketo-client.ts
  src/shared/api/token-formatter.ts
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
Due: eslint --fix, prettier --write

customFetch added, status types in api without finished status
  src/entities/wallet/index.ts
  src/shared/api/eco/generated/eco-api.ts
  src/shared/api/eco/index.ts
Due: eslint --fix, prettier --write

nest-cli.json deleted
  nest-cli.json
  src/shared/api/eco/generated/eco-api.ts
Due: eslint --fix, prettier --write, prettier --write --parser json
