Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

getting users' nfts and fts from api
  src/entities/wallet/index.ts
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/StreamToWallet/index.tsx
  src/features/create-stream/TokenSelector/index.tsx
  src/shared/api/eco/generated/eco-api.ts
Due: eslint --fix, prettier --write

transfer to vault
  .env
  .env.mainnet
  package.json
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/StreamToNFT/model.ts
  src/features/create-stream/StreamToNFT/styles.module.scss
  src/features/create-stream/StreamToWallet/index.tsx
  src/features/create-stream/constants.ts
  src/pages/streams/index.tsx
  src/pages/streams/model.ts
  src/shared/config.ts
  src/shared/constants.ts
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

streams to nft page
  src/entities/wallet/index.ts
  src/features/create-stream/StreamToNFT/index.tsx
  src/pages/index.tsx
  src/pages/nft_streams/StreamFilters/clear.svg
  src/pages/nft_streams/StreamFilters/index.tsx
  src/pages/nft_streams/StreamFilters/magnifier.svg
  src/pages/nft_streams/StreamFilters/styles.module.scss
  src/pages/nft_streams/StreamProgress/index.tsx
  src/pages/nft_streams/StreamProgress/styles.module.scss
  src/pages/nft_streams/StreamsList/activeStream.svg
  src/pages/nft_streams/StreamsList/finishedStream.svg
  src/pages/nft_streams/StreamsList/index.tsx
  src/pages/nft_streams/StreamsList/menuDots.svg
  src/pages/nft_streams/StreamsList/pausedStream.svg
  src/pages/nft_streams/StreamsList/styles.module.scss
  src/pages/nft_streams/constants.ts
  src/pages/nft_streams/index.tsx
  src/pages/nft_streams/model.ts
  src/pages/nft_streams/styles.module.scss
  src/pages/nft_streams/types.ts
  src/pages/streams/index.tsx
  src/shared/api/eco/generated/eco-api.ts
  src/shared/lib/routing.ts
  src/widgets/header/Header.tsx
Due: eslint --fix, prettier --write

nft_streams fixed
  src/widgets/header/Header.tsx
Due: eslint --fix, prettier --write

stream to nft, withdraw and direction filter
  src/entities/wallet/index.ts
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/WithdrawAllButton/model.ts
  src/features/stream-control/WithdrawNFTButton/index.tsx
  src/features/stream-control/WithdrawNFTButton/styles.module.scss
  src/pages/nft_streams/StreamFilters/index.tsx
  src/pages/nft_streams/StreamsList/index.tsx
  src/pages/nft_streams/StreamsList/styles.module.scss
  src/pages/nft_streams/constants.ts
  src/pages/nft_streams/model.ts
  src/pages/nft_streams/styles.module.scss
  src/pages/nft_streams/types.ts
  src/pages/streams/StreamsList/index.tsx
  src/shared/api/eco/generated/eco-api.ts
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write

package.json fixed
  package.json
Due: prettier --write --parser json

some changes
  src/entities/wallet/index.ts
  src/features/create-stream/CreateStream/ArrowIcon.tsx
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/StreamToNFT/model.ts
  src/features/create-stream/StreamToNFT/styles.module.scss
  src/features/create-stream/StreamToWallet/index.tsx
  src/features/create-stream/constants.ts
  src/pages/nft_streams/StreamFilters/index.tsx
  src/pages/nft_streams/StreamsList/index.tsx
  src/pages/nft_streams/StreamsList/styles.module.scss
  src/pages/nft_streams/constants.ts
  src/pages/nft_streams/model.ts
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

api changed
  .env.mainnet
  src/entities/wallet/index.ts
  src/shared/api/eco/generated/eco-api.ts
Due: eslint --fix, prettier --write

stream to nft init
  .env
  .env.mainnet
  src/entities/wallet/index.ts
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/StreamToNFT/ArrowIcon.tsx
  src/features/create-stream/StreamToNFT/model.ts
  src/features/create-stream/TransferToNFT/index.tsx
  src/features/create-stream/TransferToNFT/model.ts
  src/features/create-stream/TransferToNFT/styles.module.scss
  src/pages/index.tsx
  src/pages/nft_streams/index.tsx
  src/pages/nft_streams/lib.ts
  src/pages/nft_transfers/StreamFilters/clear.svg
  src/pages/nft_transfers/StreamFilters/index.tsx
  src/pages/nft_transfers/StreamFilters/magnifier.svg
  src/pages/nft_transfers/StreamFilters/styles.module.scss
  src/pages/nft_transfers/StreamProgress/index.tsx
  src/pages/nft_transfers/StreamProgress/styles.module.scss
  src/pages/nft_transfers/StreamsList/activeStream.svg
  src/pages/nft_transfers/StreamsList/finishedStream.svg
  src/pages/nft_transfers/StreamsList/index.tsx
  src/pages/nft_transfers/StreamsList/menuDots.svg
  src/pages/nft_transfers/StreamsList/pausedStream.svg
  src/pages/nft_transfers/StreamsList/styles.module.scss
  src/pages/nft_transfers/constants.ts
  src/pages/nft_transfers/index.tsx
  src/pages/nft_transfers/model.ts
  src/pages/nft_transfers/styles.module.scss
  src/pages/nft_transfers/types.ts
  src/pages/streams/index.tsx
  src/shared/config.ts
  src/shared/constants.ts
  src/shared/lib/routing.ts
  src/shared/lib/streamToNFTContract.ts
  src/widgets/header/Header.tsx
Due: eslint --fix, prettier --write

stream to nft creation
  src/entities/wallet/index.ts
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/StreamToNFT/model.ts
  src/features/create-stream/StreamToNFT/styles.module.scss
  src/features/create-stream/constants.ts
  src/pages/nft_streams/index.tsx
  src/pages/nft_streams/model.ts
  src/pages/nft_transfers/index.tsx
  src/pages/nft_transfers/model.ts
  src/pages/streams/index.tsx
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write

withdraw
  src/entities/wallet/index.ts
  src/features/stream-control/WithdrawAllButton/model.ts
  src/pages/nft_streams/StreamFilters/index.tsx
  src/pages/nft_streams/index.tsx
  src/pages/nft_streams/model.ts
  src/pages/nft_streams/styles.module.scss
  src/pages/nft_transfers/model.ts
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write

fix deposit
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write

transfer page removed
  src/entities/wallet/index.ts
  src/features/create-stream/TransferToNFT/index.tsx
  src/pages/index.tsx
  src/pages/nft_streams/model.ts
  src/pages/nft_transfers/model.ts
  src/shared/api/eco/generated/eco-api.ts
  src/shared/lib/routing.ts
  src/shared/lib/vaultContract.ts
  src/widgets/header/Header.tsx
Due: eslint --fix, prettier --write

getting incoming stream
  src/entities/wallet/index.ts
  src/pages/nft_streams/StreamFilters/clear.svg
  src/pages/nft_streams/StreamFilters/index.tsx
  src/pages/nft_streams/StreamFilters/magnifier.svg
  src/pages/nft_streams/StreamsList/index.tsx
  src/pages/nft_streams/StreamsList/styles.module.scss
  src/pages/nft_streams/index.tsx
  src/pages/nft_streams/model.ts
  src/pages/nft_streams/styles.module.scss
  src/shared/lib/vaultContract.ts
Due: eslint --fix, prettier --write

testids removed
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/TransferToNFT/index.tsx
  src/pages/nft_transfers/StreamsList/index.tsx
Due: eslint --fix, prettier --write

feat: add Onramp
  .env.mainnet
  package-lock.json
  package.json
  src/pages/index.tsx
  src/pages/streams/index.tsx
  src/pages/streams/styles.module.scss
  src/pages/top-up/MunzenWidget/index.tsx
  src/pages/top-up/MunzenWidget/local-sign.ts
  src/pages/top-up/TopUp/index.tsx
  src/pages/top-up/index.ts
  src/pages/top-up/styles.module.scss
  src/shared/config.ts
  src/shared/lib/routing.ts
  src/shared/ui/components/Button/index.tsx
  src/shared/ui/components/Button/styles.module.scss
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

Update README.md
  README.md
Due: prettier --write

Update LICENSE
  LICENSE
Due: none
