Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,md}": ["prettier --write"],
  "{*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}": [
    "prettier --write --parser json"
  ]
}

Add scripts to format and check
  .lintstagedrc
  .prettierignore
  package.json
Due: prettier --write --parser json

Add import sorts
  .prettierrc
Due: prettier --write --parser json

Add beautiful eslint config
  .eslintrc
  .github/workflows/lint.yml
  package.json
  yarn.lock
Due: prettier --write --parser json

Remove frontend from title
  README.md
Due: prettier --write

Correctly sort imports, also sort specifiers
  .prettierrc
Due: prettier --write --parser json

ROKETO-140: Make streams to be extrapolated each second
  src/pages/stream/index.tsx
  src/shared/hooks/useRerender.ts
  src/widgets/streamsList/ui/StreamsList/index.tsx
Due: eslint --fix, prettier --write

Untie legacy code from absolute imports a bit
  src/features/legacy/streams/filtering/useStreamFilters.ts
Due: eslint --fix, prettier --write

ROKETO-140: Return missing WithdrawAll loader
  src/features/stream-control/WithdrawAllButton/index.tsx
Due: eslint --fix, prettier --write

ROKETO-140: Fix marking notifications as read
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
Due: eslint --fix, prettier --write

ROKETO-140: Fix notifications updates
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-140: Add explicit value to babelHelpers
  vite.config.js
Due: eslint --fix, prettier --write

ROKETO-140: Add type checks
  package.json
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-140: Fix stream stop test
  src/features/stream-control/StreamControls/index.tsx
Due: eslint --fix, prettier --write

ROKETO-140: Fix crashes on unknown notification types
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-160: Improve adding funds to stream
  src/features/add-funds/index.tsx
  src/features/add-funds/styles.module.scss
  src/features/stream-control/StreamControls/index.tsx
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/shared/api/ft/ft-api.ts
  src/shared/api/roketo/lib.ts
  src/shared/components/Balance/index.tsx
  src/widgets/streamsList/ui/Controls/index.tsx
Due: eslint --fix, prettier --write

ROKETO-160: Simplify adding funds logic
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write

ROKETO-160: Add funds added notifications
  package.json
  src/entities/wallet/index.ts
  src/widgets/notifications/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-163: Make streams to be extrapolated each second
  src/pages/stream/index.tsx
  src/shared/hooks/useRerender.ts
  src/widgets/streamsList/ui/StreamsList/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Return missing WithdrawAll loader
  src/features/stream-control/WithdrawAllButton/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Fix marking notifications as read
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
Due: eslint --fix, prettier --write

ROKETO-163: Fix notifications updates
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-163: Add explicit value to babelHelpers
  vite.config.js
Due: eslint --fix, prettier --write

ROKETO-163: Add type checks
  package.json
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-163: Fix stream stop test
  src/features/stream-control/StreamControls/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Fix crashes on unknown notification types
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-163: Add tests retries
  cypress.json
Due: prettier --write --parser json

TRIVIAL: Fix build info
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  src/shared/config.ts
  src/widgets/footer/index.tsx
Due: eslint --fix, prettier --write

Move main component to up of the file
  .eslintrc
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

Add legend for progress bar on stream page
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
Due: eslint --fix, prettier --write
