Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.
  .github/workflows/playwright.yml
Due: none

edit github action for playwright
  .github/workflows/playwright.yml
Due: none

.
  .github/workflows/tests.yml
Due: none

github action update
  .github/workflows/playwright.yml
  package.json
Due: prettier --write --parser json

Revert "remove gitmodules"
  .gitmodules
Due: none

edit stream with cliff
  tests/pages/createstream.page.ts
Due: eslint --fix, prettier --write

fullyParallel
  playwright.config.ts
Due: eslint --fix, prettier --write

ROKETO-276 rebase + fix testLocators
  .env.local.example
  package.json
  tests/changestatus.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/notification.page.ts
  tests/shared/createstream.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-276 gitmodules
  .gitmodules
Due: none

ROKETO-276: try remove cache
  .github/workflows/playwright.yml
Due: none

ROKETO-276: remove command for remove cache dir
  .github/workflows/playwright.yml
Due: none

Fix stream duration in notifications
  src/widgets/notifications/index.tsx
  src/widgets/notifications/lib.ts
Due: eslint --fix, prettier --write

adress column width fixed
  src/pages/archived_streams/ArchivedStreamsList/styles.module.scss
Due: prettier --write

logo changed (header, footer, favicon)
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.png
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/shared/ui/icons/Logo/BlackLogo.tsx
  src/shared/ui/icons/Logo/ColoredLogo.tsx
  src/shared/ui/icons/Logo/index.tsx
  src/widgets/footer/index.tsx
  src/widgets/footer/styles.module.scss
  src/widgets/header/styles.module.scss
Due: eslint --fix, prettier --write

login page logo width
  src/shared/components/Header/styles.module.scss
Due: prettier --write

safari-pinned-tab changes
  public/safari-pinned-tab.svg
Due: none

ROKETO-327: Change Roketo logo (#197)
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.png
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/shared/components/Header/styles.module.scss
  src/shared/ui/icons/Logo/BlackLogo.tsx
  src/shared/ui/icons/Logo/ColoredLogo.tsx
  src/shared/ui/icons/Logo/index.tsx
  src/widgets/footer/index.tsx
  src/widgets/footer/styles.module.scss
  src/widgets/header/styles.module.scss
Due: eslint --fix, prettier --write

Fix stream duration in notifications (#196)
  src/widgets/notifications/index.tsx
  src/widgets/notifications/lib.ts
Due: eslint --fix, prettier --write

create stream error view fixed (#195)
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-225: Archive (#192)
  package.json
  src/entities/wallet/index.ts
  src/features/legacy/stream/index.tsx
  src/features/legacy/stream/styles.module.scss
  src/pages/archived_streams/ArchivedStreamFilters/index.tsx
  src/pages/archived_streams/ArchivedStreamFilters/styles.module.scss
  src/pages/archived_streams/ArchivedStreamsList/index.tsx
  src/pages/archived_streams/ArchivedStreamsList/styles.module.scss
  src/pages/archived_streams/constants.ts
  src/pages/archived_streams/index.tsx
  src/pages/archived_streams/model.ts
  src/pages/archived_streams/styles.module.scss
  src/pages/archived_streams/types.ts
  src/pages/index.tsx
  src/pages/stream/BreadcrumbIcon.tsx
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/pages/streams/constants.ts
  src/pages/streams/lib.ts
  src/pages/streams/model.ts
  src/pages/streams/types.ts
  src/shared/kit/Breadcrumb/BreadcrumbIcon.tsx
  src/shared/kit/Breadcrumb/index.tsx
  src/shared/kit/Breadcrumb/styles.module.scss
  src/shared/lib/getFilters.ts
  src/shared/lib/routing.ts
  src/widgets/header/Header.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

mobile notification scroll fixed
  src/widgets/notifications/styles.module.scss
Due: prettier --write

mobile notification scroll fixed (#198)
  src/widgets/notifications/styles.module.scss
Due: prettier --write

ROKETO-276: move to playwright (#183)
  .env.local.example
  .eslintignore
  .github/workflows/playwright.yml
  .gitignore
  cypress/support/pages/MyStreams.js
  package.json
  playwright.config.ts
  src/pages/streams/StreamsList/index.tsx
  src/shared/constants.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/fixtures/auth-as-receiver.ts
  tests/fixtures/auth.ts
  tests/fixtures/near-authenticated-storage-receiver.json
  tests/fixtures/near-authenticated-storage.json
  tests/fixtures/rec.json
  tests/notifications.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/home.page.ts
  tests/pages/login.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/notification.page.ts
  tests/pages/transaction.page.ts
  tests/shared/addFunds.ts
  tests/shared/changeStreamStatus.ts
  tests/shared/checkStreamStatus.ts
  tests/shared/createTestAccount.ts
  tests/shared/createstream.ts
  tests/shared/findRowByComment.ts
  tests/shared/login.ts
  tests/withdraw.spec.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

disabled banner link on login page
  src/shared/components/StaderBanner/styles.module.scss
Due: prettier --write

disabled banner link on login page (#199)
  src/shared/components/StaderBanner/styles.module.scss
Due: prettier --write

Add workflow_dispatch to playwright.yml
  .github/workflows/playwright.yml
Due: none

fix create stream
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/shared/createstream.ts
Due: eslint --fix, prettier --write

fix cliff
  tests/pages/createstream.page.ts
  tests/shared/createstream.ts
Due: eslint --fix, prettier --write

fix uneditable stream test
  playwright.config.ts
  tests/changestatus.spec.ts
  tests/pages/createstream.page.ts
Due: eslint --fix, prettier --write

temporary shutdown of unedited stream
  tests/createstream.spec.ts
Due: eslint --fix, prettier --write

edit waiting findRowByComment
  tests/pages/transaction.page.ts
  tests/shared/findRowByComment.ts
Due: eslint --fix, prettier --write

edit withdraw test
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/pages/mystreams.page.ts
  tests/withdraw.spec.ts
Due: eslint --fix, prettier --write

remove cypress action
  .github/workflows/tests.yml
Due: none

ROKETO-276: test-move-to-playwright (#200)
  .github/workflows/tests.yml
  playwright.config.ts
  tests/addfunds.spec.ts
  tests/changestatus.spec.ts
  tests/createstream.spec.ts
  tests/pages/createstream.page.ts
  tests/pages/mystreams.page.ts
  tests/pages/transaction.page.ts
  tests/shared/createstream.ts
  tests/shared/findRowByComment.ts
  tests/withdraw.spec.ts
Due: eslint --fix, prettier --write

work on subscription
  .env
  .env.mainnet
  package.json
  src/entities/wallet/index.ts
  src/pages/index.tsx
  src/pages/subscriptions/SubscriptionFilters/clear.svg
  src/pages/subscriptions/SubscriptionFilters/index.tsx
  src/pages/subscriptions/SubscriptionFilters/magnifier.svg
  src/pages/subscriptions/SubscriptionFilters/styles.module.scss
  src/pages/subscriptions/SubscriptionProgress/index.tsx
  src/pages/subscriptions/SubscriptionProgress/styles.module.scss
  src/pages/subscriptions/SubscriptionsList/index.tsx
  src/pages/subscriptions/SubscriptionsList/menuDots.svg
  src/pages/subscriptions/SubscriptionsList/styles.module.scss
  src/pages/subscriptions/constants.ts
  src/pages/subscriptions/index.tsx
  src/pages/subscriptions/lib.ts
  src/pages/subscriptions/model.ts
  src/pages/subscriptions/styles.module.scss
  src/pages/subscriptions/types.ts
  src/shared/api/rb/generated/rb-api.ts
  src/shared/api/rb/index.ts
  src/shared/api/roketo/constants.ts
  src/shared/api/token-formatter.ts
  src/shared/lib/changeDetection.ts
  src/shared/lib/routing.ts
  src/shared/ui/icons/StatusIcon/activeStream.svg
  src/shared/ui/icons/StatusIcon/finishedStream.svg
  src/shared/ui/icons/StatusIcon/index.ts
  src/shared/ui/icons/StatusIcon/pausedStream.svg
  src/widgets/header/Header.tsx
  src/widgets/header/styles.module.scss
  src/widgets/header/ui/PagesList/styles.module.scss
Due: eslint --fix, prettier --write, prettier --write --parser json

initial commit
  src/features/create-stream/CreateStream/index.tsx
Due: eslint --fix, prettier --write

implemented tabs and stream to nft creation
  src/features/create-stream/CommissionDetails/index.tsx
  src/features/create-stream/CommissionDetails/styles.module.scss
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/styles.module.scss
  src/features/create-stream/StreamToNFT/index.tsx
  src/features/create-stream/StreamToNFT/model.ts
  src/features/create-stream/StreamToNFT/styles.module.scss
  src/features/create-stream/StreamToWallet/ArrowIcon.tsx
  src/features/create-stream/StreamToWallet/index.tsx
  src/features/create-stream/StreamToWallet/model.ts
  src/features/create-stream/StreamToWallet/styles.module.scss
  src/features/create-stream/constants.ts
Due: eslint --fix, prettier --write

type badge added
  src/features/create-stream/CommissionDetails/styles.module.scss
  src/pages/streams/StreamsList/index.tsx
  src/pages/streams/StreamsList/styles.module.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
