Repository roke-to/roketo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-163: Add type checks
  package.json
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-163: Fix stream stop test
  src/features/stream-control/StreamControls/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Fix notifications updates
  src/entities/wallet/index.ts
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
Due: eslint --fix, prettier --write

ROKETO-163: Fix crashes on unknown notification types
  src/entities/wallet/index.ts
Due: eslint --fix, prettier --write

ROKETO-163: Return missing WithdrawAll loader
  src/features/stream-control/WithdrawAllButton/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Fix regressions (#115)
  cypress.json
  package.json
  src/entities/wallet/index.ts
  src/features/legacy/streams/filtering/useStreamFilters.ts
  src/features/stream-control/StreamControls/index.tsx
  src/features/stream-control/WithdrawAllButton/index.tsx
  src/pages/stream/index.tsx
  src/shared/hooks/useRerender.ts
  src/widgets/notifications/index.tsx
  src/widgets/notifications/model.ts
  src/widgets/streamsList/ui/StreamsList/index.tsx
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-160: Simplify adding funds logic
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write

ROKETO-160: Improve adding funds to stream
  src/features/add-funds/index.tsx
  src/features/add-funds/styles.module.scss
  src/features/stream-control/StreamControls/index.tsx
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/shared/api/ft/ft-api.ts
  src/shared/api/roketo/lib.ts
  src/shared/components/Balance/index.tsx
  src/widgets/streamsList/ui/Controls/index.tsx
Due: eslint --fix, prettier --write

ROKETO-160: Add funds added notifications
  package.json
  src/entities/wallet/index.ts
  src/widgets/notifications/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

TRIVIAL: Fix build info
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  src/shared/config.ts
  src/widgets/footer/index.tsx
Due: eslint --fix, prettier --write

TRIVIAL: Fix build info (#119)
  .github/workflows/dapp_deploy_mainnet.yml
  .github/workflows/dapp_deploy_testnet.yml
  src/shared/config.ts
  src/widgets/footer/index.tsx
Due: eslint --fix, prettier --write

ROKETO-160: Improve funds adding (#116)
  package.json
  src/entities/wallet/index.ts
  src/features/add-funds/index.tsx
  src/features/add-funds/styles.module.scss
  src/features/stream-control/StreamControls/index.tsx
  src/pages/stream/index.tsx
  src/pages/stream/styles.module.scss
  src/shared/api/ft/ft-api.ts
  src/shared/api/roketo/lib.ts
  src/shared/components/Balance/index.tsx
  src/widgets/notifications/index.tsx
  src/widgets/streamsList/ui/Controls/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-38: Add support for short comment and color fields
  src/features/create-stream/constants.ts
  src/pages/stream/index.tsx
  src/pages/streams/model.ts
  src/shared/api/roketo/contract-api.ts
  src/shared/api/roketo/interfaces/entities.ts
  src/shared/api/roketo/interfaces/roketo-api.ts
  src/widgets/streamsList/ui/StreamCard/index.tsx
Due: eslint --fix, prettier --write

Hide comment body when no description field exists
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write

Show stream color in stream page
  src/pages/stream/index.tsx
  src/pages/stream/model.ts
  src/pages/stream/styles.module.scss
  src/shared/kit/ColorDot/index.tsx
  src/shared/kit/ColorDot/styles.module.scss
Due: eslint --fix, prettier --write

Show stream color in streams list
  src/widgets/streamsList/ui/StreamCard/index.tsx
  src/widgets/streamsList/ui/StreamCard/styles.module.scss
Due: eslint --fix, prettier --write

Add color picker to stream creation form
  src/features/create-stream/ColorPicker/index.tsx
  src/features/create-stream/ColorPicker/styles.module.scss
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/model.ts
Due: eslint --fix, prettier --write

Fix minor typing issues
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/constants.ts
  src/pages/streams/model.ts
Due: eslint --fix, prettier --write

ROKETO-167: Fix error on stream creation
  src/shared/api/ft/ft-api.ts
Due: eslint --fix, prettier --write

TRIVIAL: Remove json-bigint
  package.json
  yarn.lock
Due: prettier --write --parser json

ROKETO-171: Adapt build info for test builds
  src/widgets/footer/index.tsx
Due: eslint --fix, prettier --write

ROKETO-171: Make tests run with built files
  .github/workflows/tests.yml
  package.json
Due: prettier --write --parser json

ROKETO-171: Tests on built files (#123)
  .github/workflows/tests.yml
  package.json
  src/widgets/footer/index.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

ROKETO-166: "Create stream" form mobile adaptability
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/CreateStream/styles.module.scss
  src/features/create-stream/StreamSpeedCalcField/index.tsx
  src/features/create-stream/StreamSpeedCalcField/styles.module.scss
Due: eslint --fix, prettier --write

Add missed : to labels
  src/features/create-stream/CreateStream/index.tsx
Due: eslint --fix, prettier --write

ROKETO-174: Fix stream info before cliff
  src/features/stream-control/WithdrawAllButton/model.ts
  src/shared/api/roketo/lib.ts
  src/shared/ui/components/ProgressBar/index.tsx
  src/shared/ui/components/ProgressBar/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-174: Add missing stream creation form validations
  src/features/create-stream/CreateStream/model.ts
Due: eslint --fix, prettier --write

ROKETO-174: Make notifications tests less flaky
  cypress/integration/tests/05_notifications.spec.js
  cypress/support/pages/Notification.js
Due: eslint --fix, prettier --write

ROKETO-174: Fix stream info before cliff (#125)
  cypress/integration/tests/05_notifications.spec.js
  cypress/support/pages/Notification.js
  src/features/create-stream/CreateStream/model.ts
  src/features/stream-control/WithdrawAllButton/model.ts
  src/shared/api/roketo/lib.ts
  src/shared/ui/components/ProgressBar/index.tsx
  src/shared/ui/components/ProgressBar/styles.module.scss
Due: eslint --fix, prettier --write

ROKETO-176: Disallow adding funds before cliff is passed
  src/features/add-funds/index.tsx
Due: eslint --fix, prettier --write

ROKETO-163: Fix incorrent total outgoing speed
  src/widgets/header/model.ts
Due: eslint --fix, prettier --write

ROKETO-176: Disallow adding funds before cliff is passed (#127)
  src/features/add-funds/index.tsx
  src/widgets/header/model.ts
Due: eslint --fix, prettier --write

TRIVIAL: Fix small legacy numbers view
  src/features/legacy/streams/streamsList/ui/StreamProgress/index.tsx
Due: eslint --fix, prettier --write

ROKETO-175: Change tokens_per_sec to string
  src/features/create-stream/CreateStream/index.tsx
  src/features/create-stream/constants.ts
  src/features/create-stream/lib.ts
  src/shared/api/ft/ft-api.ts
  src/shared/api/roketo/contract-api.ts
  src/shared/api/roketo/interfaces/entities.ts
  src/shared/api/roketo/interfaces/roketo-api.ts
Due: eslint --fix, prettier --write

ROKETO-177: Fix tokens size
  src/shared/kit/TokenImage/index.tsx
  src/shared/kit/TokenImage/styles.module.scss
  src/shared/ui/icons/Github/logo-git.svg
  src/shared/ui/icons/Telegram/logo-telegram.svg
  src/shared/ui/icons/Tokens.tsx
  src/shared/ui/icons/Twitter/logo-twitter.svg
Due: eslint --fix, prettier --write

ROKETO-177: Replace unsupported in Safari inset CSS property with explicit top/right/bottom/left
  src/features/add-funds/styles.module.scss
  src/features/legacy/stream-control/StreamControls/styles.module.scss
  src/features/stream-control/StreamControls/styles.module.scss
  src/shared/components/Modal/styles.module.scss
Due: prettier --write

ROKETO-177: Fix dropdown shadow for Safari
  src/shared/kit/DropdownMenu/styles.module.scss
Due: prettier --write

ROKETO-177: Safari fixes (#130)
  src/features/add-funds/styles.module.scss
  src/features/legacy/stream-control/StreamControls/styles.module.scss
  src/features/stream-control/StreamControls/styles.module.scss
  src/shared/components/Modal/styles.module.scss
  src/shared/kit/DropdownMenu/styles.module.scss
  src/shared/kit/TokenImage/index.tsx
  src/shared/kit/TokenImage/styles.module.scss
  src/shared/ui/icons/Github/logo-git.svg
  src/shared/ui/icons/Telegram/logo-telegram.svg
  src/shared/ui/icons/Tokens.tsx
  src/shared/ui/icons/Twitter/logo-twitter.svg
Due: eslint --fix, prettier --write

ROKETO-178: Fix notifications tests
  cypress/support/pages/Notification.js
  src/shared/constants.ts
  src/widgets/notifications/index.tsx
Due: eslint --fix, prettier --write

TRIVIAL: Set available tokens to 0 until cliff is passed
  src/pages/stream/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{css,scss,sass,md})
  prettier --write --parser json: any of: {*.json,.prettierrc,.lintstagedrc,.babelrc,.eslintrc,*.webmanifest}
